* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: linear-gradient(90deg, #58E6FF 0%, #FC81FE 100%);
    --secondary-color: linear-gradient(180deg, #282A36 0%, #2A2B3100 100%);
    --dark-color: #000;
    --white-color: #ffff;
    --text-color: #0d0d1b;
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-18: 18px;
    --fs-44: 44px;
    --fs-24: 24px;
    --fs-22: 22px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --Lexend: 'Lexend';
}

body {
    font-size: var(--fs-16);
    color: var(--white-color);
    line-height: 1.5;
    font-family: var(--Lexend);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    display: block;
    max-width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: 12px;
    padding-right: 12px;
}

/* header start */

header{
    background-color: #ffffff;
    padding: 5px 20px;
    height: 80px;
}

header .logo a img{
    width: 150px;
    margin: 15px;
}

header .menu ul li a {
    font-size: 16px;
    font-weight: var(--fw-500);
    font-family: "Noto Sans", serif;
    color: black;
    margin-left: 30px;
}

.ri-phone-fill{
    color: orange;
}

header .icons ul li a{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-left: 10px;
}

header .icons ul li a span{
    color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px 10px;
}

header .icons ul li a button{
    color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
}

header .icons ul li a button:hover{
    background-color: #f1913d;
    color: white;
}

header .menu ul li .drop-box{
    position: absolute;
    width: 170px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    top: 110px;
    z-index: 1;
}

header .menu ul li .drop-box ol li a{
    width: 100%;
    display: block;
    padding: 11px 25px;
    font-size: 14px;
    font-weight: 400;
}

header .menu ul li .drop-box ol li{
    margin-right: 0;
}


header .drop-box ol li:hover a {
    color: orange;
}

header .menu ul li:hover .drop-down {
    opacity: 1;
    visibility: visible;
    top: 63px;
}

.drop-down{
    position: absolute;
    width: 50%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 1;
}

.drop-down .col-4{
    padding: 10px;
}

.drop-down .col-4 ol li a{
    font-weight: 400;
    line-height: 30px;
    margin-left: -5px;
}

.drop-down .col-4 h2{
    margin-bottom: 10px;
}

header .drop-down ol li a:hover{
    color: orange;
}

header .menu ul li .drop-down{
    opacity: 1;
    visibility: visible;
}

header .menu ul li a:hover{
    color: orange;
}

/*

header .menu ul li a:hover {
    background: rgba(9, 31, 67, 0.04);
    color: #6664e4;
} */

/* header end */

/* banner start */

 /* .banner{
    width: 100%;
    height: 100%;
    background-image: url(../Images/banner-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 50px;
    position: relative;
    font-family: "Lexend", sans-serif;
    text-align: center;
}

.banner .row h1 {
    font-size: 70px;
    font-weight: var(--fw-700);
    color: #ffffff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.banner .title p{
    font-weight: var(--fw-700);
    color: #ffffff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.banner .banner-title{
    width: 840px;
    height: 70px;
    margin: 55px auto;
    padding: 8px 8px 8px 24px;
    background-color: white;
    border-radius: 20px;
}

.banner .banner-title .fs span{
    font-size: 20px;
    font-weight: var(--fw-700);
    color: #2c2e33;
    line-height: 23px;
    border-right: 1px solid #2c2e33;
}

.banner .banner-title form .pform{
    width: 450px;
    height: 55px;
    font-size: 20px;
    background-color: white;
    border: none;
    color: #2c2e33;
    margin-left: 50px;
    padding: 13px 15px;
}

.banner-title .is{
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.ri-layout-horizontal-line{
    font-size: 45px;
}

.banner-title .seabut a button{
    width: 140px;
    height: 50px;
    background-color: #f1913d;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0 20px;
}

.banner-title .seabut a button:hover{
    background-color: #ffffff;
    color: #f1913d;
} */

/* banner end */

/* property start */

.property{
    text-align: center;
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
}

.property .title h2{
    color: #000;
    font-size: 40px;
}

.property .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.property-cart{
    width: 190px;
    height: 215px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    text-align: center;
    color: #2C2E33;
    border-radius: 16px;
    padding: 34px 24px 34px;
    position: relative;
    margin-top: 60px;
}

.property-cart img{
    position: absolute;
    width: 64px;
    left: 60px;
}

.property-cart h2{
    padding-top: 95px;
    transition: 0.5s;
}

.property-cart p{
    position: absolute;
    bottom: 25px;
    left: 50px;
}

.container .property-cart{
    z-index: 1;
    overflow: hidden;
}

.property-cart::after{
    position: absolute;
    content: '';
    background-color: #f1913d;
    top: 0;
    right: 0px;
    transition: 0.5s;
    width: 100%;
    height: 0%;
    z-index: -1;
}

.property-cart:hover::after{
    height: 100%;
    transform: scaleX(2);
}

.property-cart:hover h2{
    color: #ffffff;
}

.property-cart:hover p{
    color: #ffffff;
}

.property-cart:hover img{
    color: #ffffff;
}

.linear-color{
    background-color: #f1913d;
}

ul li{
    width: 90px;
    height: 25px;
    background-color: #f1913d;
    color: #ffffff;
    border-radius: 60px;
    border: none;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: var(--fw-600);
    margin: 10px;
}

.text2{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 100px;
}

/* property end */

/* luxury start */

.luxury{
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    margin-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.luxury .title h2{
    color: #000;
    font-size: 40px;
}

.luxury .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.luxury-cart{
    width: 400px;
    height: 510px;
    background-color: #ffffff;
    color: #2C2E33;
    border-radius: 16px;
    border: 1px solid lightgray;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    text-align: left;
}

.luxury-cart p{
    font-size: 16px;
    font-weight: var(--fw-600);
    color: #5C5E61; 
    display: inline-block;
}

.luxury-cart p span{
    color: #000;
}

.luxury-cart p a img{
    width: 20px;
    display: inline-block;
}

.luxury-cart h5{
    font-size: 20px;
    font-weight: var(--fw-600);
    font-family: "Lexend", sans-serif;
    color: #f1913d;
    margin: 20px;
    display: inline-block;
}

.luxury-cart a img{
    display: inline-block;
    margin-right: 5px;
}

.luxury-cart .inner-cart{
    padding: 25px;
    border-bottom: 1px solid #21252917;
}

.luxury-cart .inner-cart h2, p{
    padding-bottom: 10px;
    margin-left: 0px;
}

.luxury-cart button{
    width: 115px;
    height: 45px;
    color: #f1913d;
    border: 1px solid #f1913d;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: var(--fw-600);
    transition: 0.5s;
}

.luxury-cart button:hover{
    background-color: #f1913d;
    color: #ffffff;
}

/* luxury end */

/* home start */

.home{
    width: 100%;
    height: 100%;
    background-color: #fef7f1;
    color: #000;
    text-align: center;
    font-family: "Lexend", sans-serif;
    padding-top: 100px;
    display: block;
}

.home .title h3{
    font-size: 37px;
    color: #000;
}

.home .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.home .btn button{
    margin-top: 40px;
}

.home .btn button{
    width: 110px;
    height: 40px;
    background-color: #f1913d;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0px 10px;
    transition: 0.5s;
}

.home .btn button:nth-child(2){
    border: 1px solid #f1913d;
    background-color: #ffffff;
    color: #f1913d;
}

.home .btn button:nth-child(2):hover{
    background-color: #f1913d;
    color: white;
}

.home .btn button:nth-child(3){
    border: 1px solid #f1913d;
    background-color: #ffffff;
    color: #f1913d;
}

.home .btn button:nth-child(3):hover{
    background-color: #f1913d;
    color: white;
}

.home .cart .home-cart{
    width: 400px;
    height: 420px;
    background-color: #ffffff;
    border-radius: 16px;
    border: none;
    position: relative;
    margin-top: 40px;
    padding: 24px;
    transition: 0.5s;
}

.home .cart .home-cart svg{
    margin-bottom: 32px;
    transition: 0.5s;
}

.home .cart .home-cart svg:hover{
    transform: rotateY(180deg);
}

.home .cart .home-cart h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 24px;
}

.home .cart .home-cart h2:hover{
    color: #f1913d;
}

.home .cart .home-cart p{
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #5C5E61;
}

.home .cart .home-cart button{
    width: 170px;
    height: 50px;
    border: 1px solid #f1913d;
    background-color: #ffffff;
    color: #f1913d;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0px 10px;
    transition: 0.5s;
}

.home .cart .home-cart button:hover{
    background-color: #f1913d;
    color: white;
}

.home .chat p{
    font-size: 16px;
    color: #2C2E3399;
    margin-top: 40px;
    margin-bottom: 90px;
}

.home .chat p a{
    text-decoration: underline;
    color: #f1913d;
    font-weight: 700;
    transition: 0.5s;
}

.home .chat p a:hover{
    color: #000000;
}

/* home end */

/* loan start */

.loan{
    margin-top: 120px;
    font-family: "Lexend", sans-serif;
}

.loan .content{
    margin: 50px;
}

.loan .content .title h2{
    color: #2c2e33;
    font-size: 40px;
    font-weight: 600;
}

.loan .content .title p{
    font-size: 14px;
    font-weight: 600;
    color: rgba(44, 46, 51, 0.6);
    margin-left: 0;
}

.loan form{
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 600;
    color: #2C2E33;
    margin-top: 40px;
    display: flex;
}

.loan form input{
    width: 250px;
    height: 50px;
    border: 1px solid #2c2e3311;
    border-radius: 20px;
    padding: 0 20px;
}

.loan .img img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.loan form .down .two{
    width: 210px;
}

.loan form .down{
    padding-left: 10px;
}

.loan form .down .percent{
    width: 70px;
}

.loan form .down .ins{
    width: 250px;
}

.loan .content .pay p{
    font-size: 16px;
    font-weight: 700;
    color: rgba(44, 46, 51, 0.6);
    margin-top: 20px;
    margin-left: 0;
}

.loan .content .pay p span{
    color: #f1913d;
    font-weight: 700;
}


.home .btn button{
    margin-top: 40px;
}

.loan .loan-btn button{
    width: 170px;
    height: 50px;
    background-color: #f1913d;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    padding: 0px 10px;
    transition: 0.5s;
}

.loan .loan-btn button:nth-child(2){
    border: 1px solid #f1913d;
    background-color: #ffffff;
    color: #f1913d;
    margin-left: 20px;
}

.loan .loan-btn button:nth-child(2):hover{
    background-color: #f1913d;
    color: white;
}

/* loan end */

/* explore start */

.explore{
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    margin-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.explore .title{
    margin-bottom: 50px;
}

.explore .title h2{
    color: #000;
    font-size: 40px;
}

.explore .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.explore-cart{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
}

.explore-cart .explore-img{
    transition: 0.5s;
}

.explore-cart .explore-img:hover{
    transform: scale(1.1);
}

.explore-cart .explore-img img{
    width: 100%;
    height: 100%;
}

.explore-cart .explore-content h6{
    font-size: 20px;
    font-weight: 200;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 15px;
}

.explore-cart .explore-content a{
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffffff;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 420px;
    transition: 0.5s;
}

.explore-cart .explore-content a:hover{
    background-color: #f1913d;
    color: white;
}

.explore-cart .explore-content .prop{
    position: absolute;
    bottom: 20px;
    left: 1075px;
}

/* explore end */

/* listing start */

.listing{
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    margin-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.listing .title h2{
    color: #000;
    font-size: 40px;
}

.listing .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.listing .listing-cart{
    width: 620px;
    height: 274px;
    background-color: #ffffff;
    color: #2C2E33;
    border-radius: 16px;
    border: 1px solid lightgray;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    text-align: left;
}

.listing .listing-cart .img img{
    width: 290px;
    height: 272px;
}

.listing .listing-cart .content{
    padding: 15px;
}

.listing .listing-cart .content h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
}

.listing .listing-cart .content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 25px;
    color: #5C5E61;
}

.listing .listing-cart .content p i span{
    margin-left: 20px;
}
/* listing end */