* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: linear-gradient(90deg, #58E6FF 0%, #FC81FE 100%);
    --secondary-color: linear-gradient(180deg, #282A36 0%, #2A2B3100 100%);
    --dark-color: #000;
    --white-color: #ffff;
    --text-color: #0d0d1b;
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-18: 18px;
    --fs-44: 44px;
    --fs-24: 24px;
    --fs-22: 22px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --Lexend: 'Lexend';
}

body {
    font-size: var(--fs-16);
    color: var(--white-color);
    line-height: 1.5;
    font-family: var(--Lexend);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    display: block;
    max-width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 12px;
    padding-right: 12px;
}

/* header start */

.head1 {
    background-color: #262626;
    width: 100%;
    height: 54px;
    position: relative;
}

.head1 .img img {
    width: 120px;
    padding-top: 19px;
    position: absolute;
    left: 22px;
}

.head1 .button button {
    font-size: 14px;
    color: #ffffff;
    background-color: #82B440;
    padding: 9px 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 15px;
    border-radius: 4px;
    border: none;
}

.head1 .button {
    padding-top: 10px;
}

.head2{
    background-color: white;
    width: 100%;
    height: 78px;
    position: relative;
    font-family: "Lexend", sans-serif;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}

.head2 .logo a img{
    width: 150px;
    margin-right: 70px;
    margin-left: 30px;
}

.head2 .menu{
    margin-left: 60px;
}

.head2 .menu ul li{
    padding-left: 1px;
}

.head2 .menu ul li a {
    padding: 16px 10px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--fw-500);
    transition: 0.5s;
}

.head2 .menu ul li:first-child a{
    color: #F1913D;
    font-weight: var(--fw-500);
}

.head2 .menu ul li:first-child a {
    padding: 9px 22px;
    border: 1px solid #ffffff80;
    font-size: 19px;
    transition: 0.5s;
}

.head2 .menu ul li a:hover {
    /* background: rgba(9, 31, 67, 0.04); */
    color: #6664e4;
}

.head2 .menu ul li:last-child a:hover{
    /* background: #422f2f; */
    color: #212529;
}

.head2 .drop-down {
    position: absolute;
    border: 0;
    border-radius: 0 0 8px 8px;
    background-color: var(--white-color);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    top: 110px;
}

.head2 .drop-down ol li a {
    display: block;
    padding: 12px 22px 12px 22px;
    color: #212529a7;
}

.head2 .drop-down ol li:last-child a {
    background-color: transparent;
    color: var(--text-color);
}

.head2 .menu ul li .drop-down ol li:last-child:hover a {
    background-color: rgba(137, 43, 226, 0.078);
    color: var(--text-color);
}

.head2 .drop-down ol li:hover a{
    background-color: rgba(137, 43, 226, 0.078);
    color: #000;
}

.head2 .menu ul li:hover .drop-down {
    opacity: 1;
    visibility: visible;
    top: 63px;
}

.head2 .menu2{
    color: #000000;
}

/* header end */

/* banner start */

.banner{
    width: 100%;
    height: 100%;
    background-image: url(../Images/banner-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    position: relative;
    font-family: "Lexend", sans-serif;
    text-align: center;
}

.banner .title h2 {
    font-size: 66px;
    font-weight: var(--fw-500);
}

.banner .title p{
    font-size: 18px;
    font-weight: var(--fw-200);
}

/* banner end */

/* property start */

.property{
    text-align: center;
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
}

.property .title h2{
    color: #000;
    font-size: 40px;
}

.property .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.property-cart{
    width: 190px;
    height: 215px;
    background-color: #ffffff;
    color: #2C2E33;
    border-radius: 16px;
    padding: 34px 24px 34px;
    position: relative;
    margin-top: 60px;
}

.property-cart img{
    position: absolute;
    width: 64px;
    left: 60px;
}

.property-cart h2{
    padding-top: 95px;
    transition: 0.5s;
}

.container .property-cart{
    z-index: 1;
    overflow: hidden;
}

.property-cart::after{
    position: absolute;
    content: '';
    background-color: #f1913d;
    bottom: 0%;
    right: 0px;
    transition: 0.5s;
    width: 100%;
    height: 0%;
    z-index: -1;
}

.property-cart:hover::after{
    height: 100%;
    transform: scaleX(2);
}

.linear-color{
    background-color: #f1913d;
}

/* property end */

/* luxury start */


.luxury{
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    margin-top: 90px;
}

.luxury .title h2{
    color: #000;
    font-size: 40px;
}

.luxury .title p{
    font-size: 16px;
    color: #2C2E3399;
}

.luxury-cart{
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    color: #2C2E33;
    border-radius: 16px;
    border: 1px solid lightgray;
    /* padding: 34px 24px 34px; */
    position: relative;
    margin-top: 60px;
}

.luxury-cart img{
    border-radius: 18px 18px 0 0;
}

.luxury-cart h2, p{
    padding-top: 20px;
    margin-left: 20px;
}

.luxury-cart p{
    font-size: 16px;
    font-weight: var(--fw-600);
    color: #5C5E61; 
    display: inline-block;
}

.luxury-cart p span{
    color: #000;
}

.luxury-cart p a img{
    width: 20px;
    display: inline-block;
}

/* luxury end */